<ion-header translucent>
  <ion-toolbar>
    <ion-title>Innovaciones Tecnológicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="3" *ngFor="let item of items">
        <ion-card>
          <ion-img [src]="item.img"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ item.content }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
