<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-content>
      <ion-card-title class="title">Bienvenido a nuestra demostración</ion-card-title>
      <ion-card-subtitle class="subtitle">Este es un demo de un carrusel con un loader integrado.</ion-card-subtitle>
      <ion-button (click)="showCarousel()" expand="block" color="primary" class="custom-button">Mostrar Carrusel</ion-button>
      <app-carousel *ngIf="displayCarousel"></app-carousel>
    </ion-card-content>
  </ion-card>
</ion-content>
